<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team Section</title>

    {% load static %} 
    <link rel="stylesheet" href="{% static 'team.css' %}"> 
   
</head>
<body>
    <section class="team-section">
        <div class="team-title">
            <h1>Our Team</h1>
        </div>
        <div class="team-cards">
            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'iimages\Sanskruti.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Sanskruti </h3>
                    <p>CS/2019/057</p>
                </div>
            </div>

            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/sandun.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Sandun Srimal</h3>
                    <p>CS/2019/005</p>
                </div>
            </div>

            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/nishadi.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Nishadi Sasanthika</h3>
                    <p>CS/2019/040</p>
                </div>
            </div>

            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/sachin.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3> Sachin Mihiranga</h3>
                    <p>CS/2019/003</p>
                </div>
            </div>

            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/duminda.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Nipuni Duminda</h3>
                    <p>CS/2019/036</p>
                </div>
            </div>
        </div>

        <div class="team-cards">
            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/dulana.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Dulana Dewmin</h3>
                    <p>CS/2019/029 </p>
                </div>
            </div>

            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/pivindi.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Pivindi Nimanga </h3>
                    <p>CS/2019/019</p>
                </div>
            </div>

            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/sampath.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Sampath Chathuranga</h3>
                    <p>CS/2019/027 </p>
                </div>
            </div>

            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/nipuni.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Nipuni Vithana</h3>
                    <p>CS/2019/037 </p>
                </div>
            </div>

            <div class="team-card">
                <div class="team-image">
                    <img src="{% static 'images/imashi.jpeg' %}">
                </div>
                <div class="team-detail">
                    <h3>Imashi Anjana</h3>
                    <p>CS/2019/046</p>
                </div>
            </div>
        </div>
    </section>



</body>
</html> -->